* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 14px;
}

main {
	padding: calc(60px + 1.5em);
	padding-bottom: 0;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}

.section-row {
	padding-bottom: 3em;
}

/* FLEX ---------- */
.flex-row {
	display: flex;
	align-items: center;
}

.flex-col {
	display: flex;
}

.just-between {
	justify-content: space-between;
}

.just-end {
	justify-content: end;
}

/* CONTENT ---------- */
header {
	min-height: 60px;
	width: 100%;
	padding: 1em;
	position: fixed;
	z-index: 1;
	background-color: rgb(255, 100, 43);
}

li {
	display: inline-block;
	padding-right: 0.5em;
	font-weight: 600;
}

img {
	width: 100%;
	height: 100%;
}

footer {
	min-height: 100px;
	padding: 2em;
}
h3 {
	padding-bottom: 0.5em;
}

footer li {
	font-size: 13px;
	font-weight: normal;
}

main .flex-row {
	gap: 15px;
}

main .gap-small {
	gap: 5px;
}

footer .icon {
	margin: 0;
}

.header-logo {
	width: 150px;
}

.header-col {
	min-width: 160px;
}

.icon {
	width: 15px;
	margin: 0 5px;
}

.product {
	flex-grow: 1;
	position: relative;
	z-index: 0;
}

.image {
	height: 440px;
	margin-bottom: 5px;
}

.mrg-top-small {
	margin-top: 5px;
}

.favorite {
	width: 40px;
	position: absolute;
	top: 1em;
	right: 0em;
	background-color: white;
}

.fav-icon {
	display: block;
	width: 25px;
	margin: 5px auto;
}

.tags {
	min-width: 40px;
	position: absolute;
	bottom: 6em;
}

.discount {
	padding: 5px;
}

.tag {
	padding: 5px;
}

.img-hover {
	display: none;
}

.product:hover .img-hover {
	display: inline-block;
}

.product:hover .img-normal {
	display: none;
}

/* STYLES ---------- */
.font-white {
	color: white;
}

.font-red {
	color: red;
}

.bg-black {
	background-color: rgb(26, 26, 26);
}

.bg-red {
	background-color: red;
}

.bg-green {
	background-color: green;
}

.linethrough {
	text-decoration: line-through;
}