* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 16px;
}

main {
	padding: calc(60px + 1.5em);
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
}

/* FLEX ---------- */
.flex-row {
	display: flex;
	align-items: center;
}

.flex-col {
	display: flex;
}

.just-between {
	justify-content: space-between;
}

.just-end {
	justify-content: end;
}

/* CONTENT ---------- */
header {
	min-height: 60px;
	width: 100%;
	padding: 1em;
	position: fixed;
	background-color: rgb(255, 100, 43);
}

header li {
	display: inline-block;
	padding-right: 0.5em;
	font-weight: 600;
}

img {
	width: 100%;
	height: 100%;
}

main .flex-row {
	gap: 15px;
}

.header-logo {
	width: 150px;
}

.header-col {
	min-width: 160px;
}

.header-icon {
	width: 15px;
	margin: 0 5px;
}

.product {
	flex-grow: 1;
}

.image {
	height: 440px;
}

/* STYLES ---------- */
.font-white {
	color: white;
}

.font-red {
	color: red;
}

.linethrough {
	text-decoration: line-through;
}